
.container{
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 23px;
}

.container .btn-value{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}
.container .btn-value button{
    color: #000;
    background-color: #fff;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 4px;
    padding: 4px 15px;
}
.container .btn-value button:hover{
    color: #fff;
    background-color: #000;
}
.jour {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #fbcc34 solid .5px;
}

.add-plat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.add-plat .plat-item {
  width: 100%;
}
.add-plat .plat-item:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

@media screen and (max-width: 700px) {
  .add-plat {
    flex-direction: column;
    gap: 25px;
  }
}
