@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
body{
    font-family: 'roboto', sans-serif;
    background-color: rgba(226, 217, 217, 0.979);
}
header{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.diffrent_color{
    color:rgb(253, 229, 7);
}
img{
    height: 100px;
}
form{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new_password{
    color: white;
    
    
}
input{
    border-radius: 15px;
    border:rgba(27, 27, 27, 0);
}
.first_password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
   
}
.second_password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.submit{
    margin-top: 10%;
    background-color: rgb(253, 229, 7);

}