body{
    font-family: 'roboto', sans-serif;
    background-color: whitesmoke;
    color: black;   
}
*{
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
}
.youcode{
    display: none;
}
.Logo{
    width: 100%;
    font-weight: bolder;
    border-bottom: solid 3px black;
    padding-bottom: 3px;
}

form{
    width: 100%;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100%;
    border-radius: 2px;
    border:rgba(27, 27, 27, 0);
    border:1px solid rgb(219, 211, 211);
    height: 30px;
    padding-left: 10px;
}
.password_of_user{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.for_password{
    padding-bottom: 2px;
    width: 100%;
}

.submit{
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 45px ;
    text-decoration: none;
    border: 1px solid black;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:650px) {
    *{
        margin-left: 5%;
        margin-right: 5%;
    }
    .box{
        height: 40px;
    }
    .submit{
       margin-top: 45px;
        height: 40px;
    }
}
@media screen and (min-width: 1000px) {
    *{
        margin: 0px;
    }
    main{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 100px;
        
    }
    .background{
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(/assets/images/project.jpg);
        width: 50%;
        height: 577px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .youcode{
        border: 2px solid white;
        height: auto;
        display: flex;
        color: white;
        font-weight: bolder;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .yellow_part{
        color: rgb(235, 248, 46);
    }
    .Logo{
        margin-bottom: 40px;
    }
    .box{
        height: 45px;
        padding-left: 15px;
    }
    .box:hover{
        border: black 3px solid;
        background-color: white;
    }
    form{
        width: 40%;
        margin-top: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .for_password{
        padding-bottom: 10px;
    }
    .submit{
        height: 45px;
    }
    .submit:hover{
        background-color: whitesmoke;
        color: black;
        font-weight: bolder;
        border: black 3px solid;
    }

}