:root {
  --green__sidebar: #1f4663;
  --green__navbar: #082032;
  --side__navbar: #082032;
  --yellow: #fbcc34;
  --gry: #f5f5f5;
  --color__body: var(--gry);
  --border_red: 2px solid red;
  --border_bleu: 2px solid rgb(47, 0, 255);
  --border_green: 2px solid rgb(9, 255, 0);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.head__er {
  width: 100%;
  position: relative;
}
/* start sidebar */
.sidebar {
  position: fixed;
  width: 62px;
  height: 100%;
  background-color: var(--side__navbar);
  transition: 0.5s;
  overflow: hidden;
  z-index: 100;
  transition: 0.5s all ease-in-out;
}
.sidebar.active {
  width: 300px;
  transition: 0.5s all ease-in-out;
}
.info__logo h1 {
  border: 3px solid #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.info__logo h1 span {
  color: #fbcc34;
}
.sidebar ul {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sidebar ul li {
  position: relative;
  width: 100%;
}

.sidebar .side_bars {
  display: block;
  transition: 0.5s all ease-in-out;
}

.sidebar .side_times {
  display: none;
}
.sidebar .side_bars.active {
  display: none;
  transition: 0.5s all ease-in-out;
}
.sidebar .side_times.active {
  display: block;
  transition: 0.5s all ease-in-out;
}
.bars__times {
  display: flex;
  height: 55px;
  transition: all 0.5s ease-in-out;
  justify-content: space-evenly;
  align-items: center;
}
.bars__times .side_times,
.bars__times .side_bars {
  margin-top: 10px;
}
.sidebar .side_times .fas {
  font-size: 18px;
}
.sidebar .side_bars .fas {
  font-size: 25px;
}
.you_restaurant {
  display: none;
  transition: 0.5s all ease-in-out;
}
.you_restaurant.active {
  display: block;
  transition: 0.5s all ease-in-out;
}

.sidebar .search {
  display: none;
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}
.sidebar ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 50px;
  line-height: 60px;
  text-align: center;
}
.sidebar ul li .icon:first-child {
  font-size: 25px;
  color: #fff;
}
.sidebar ul li a:last-child:hover {
  background-color: var(--yellow);
}
.sidebar ul li:first-child {
  margin-bottom: 20px;
}
.sidebar .sidebar__child__1 :hover {
  background-color: transparent !important;
  cursor: pointer;
}
.sidebar ul li a span:last-child {
  display: none;
  position: relative;
  font-size: 17px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  transition: 0.5s all ease-in-out;
}
.sidebar.active ul li a span:last-child {
  transition: 0.5s all ease-in-out;
  display: block;
}
/* fin sidebar */
/* start navbar */
.nav__bar {
  position: absolute;
  background-color: var(--side__navbar);
  height: 62px;
  width: calc(100% - 62px);
  left: 62px;
  transition: 0.5s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  transition: 0.5s all ease-in-out;
}
.nav__bar.active {
  width: calc(100% - 300px);
  left: 300px;
  transition: 0.5s all ease-in-out;
}
.plus__down .plus__down__ul {
  position: absolute;
  background-color: var(--gry);
  border-radius: 6px;
  color: #000;
  top: calc(100%);
  right: 120px;
  width: 160px;
  height: auto;
  transform: 0.5s;
  display: none;
  z-index: 200;
}
.plus_div {
  position: relative;
  display: block;
  top: -16px;
  left: 90px;
}
.plus_div .fas {
  position: absolute;
  color: var(--gry);
  font-size: 25px;
}
.plus__down.active span {
  display: block;
}
.plus__down__ul li {
  position: relative;
  padding: 5px;
  margin: 3px;
}

.plus__down__ul li a {
  text-decoration: none;
  color: var(--side__navbar);
}
.plus__down__ul li:hover {
  background-color: var(--yellow);
}
.plus__down__ul li .fas {
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
}
.plus__down__ul.active {
  display: block;
}

.nav__bar_item {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav__bar .plus__down,
.nav__bar .search,
.nav__bar .profile_admin,
.nav__bar .toogle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 20px;
}
.nav__bar .toogle,
.nav__bar .plus__down span,
.nav__bar .search div,
.nav__bar .profile_admin {
  cursor: pointer;
}
.nav__bar .profile_admin {
  gap: 5px;
}
.nav__bar .nav__bar_item .search {
  position: relative;
}
.nav__bar .search input {
  position: relative;
  border: none;
  border-radius: 3px;
  outline: 0;
  width: 190px;
  height: 30px;
  margin-right: -2px;
  color: var(--side__navbar);
  padding: 5px;
}
.nav__bar .search span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #fbcc34 solid 2px;
  background-color: #fbcc34;
  border-radius: 0 3px 3px 0;
  margin-left: 170px;
  width: 40px;
  height: 30px;
}
.nav__bar .search span .fas {
  color: rgb(39, 39, 39);
  font-size: 22px;
}
.nav__bar .toogle .fas {
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}

.profile_admin img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
/* fin nav bar */

.main__body {
  position: relative;
  width: calc(100% - 62px);
  height: calc(100% - 62px);
  left: 62px;
  top: 62px;
  transition: 0.5s all ease-in-out;
}
.main__body .content_ {
  position: relative;
  width: calc(100%);
  height: 90vh;
  overflow: auto;
  margin: 0;
  padding: 10px 15px;
  transition: 0.5s all ease-in-out;
}
.main__body.active {
  width: calc(100% - 300px);
  left: 300px;
  transition: 0.5s all ease-in-out;
}
.commande {
  margin: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.commande .plat {
}

@media screen and (max-width: 900px) {
  .main__body {
    width: calc(100% - 62px);
    left: 62px;
  }
  .main__body.active {
    width: calc(100% - 62px);
    left: 62px;
  }
}
@media screen and (max-width: 720px) {
  .nav__bar_item .search {
    display: none;
  }
  .main__body {
    width: 100%;
    left: 0px;
  }
  .nav__bar.active .plus__down {
    display: none;
    transition: 0.5s all ease-in-out;
  }
  .sidebar ul .search {
    display: none;
    display: flex;
    margin-left: 20px;
  }
  .sidebar ul .search {
    position: relative;
  }
  .sidebar ul .search input {
    position: relative;
    border: none;
    border-radius: 3px;
    outline: 0;
    width: 260px;
    height: 30px;
    margin-right: -2px;
    padding-left: 10px;
  }
  .sidebar ul .search span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #fbcc34 solid 2px;
    background-color: #fbcc34;
    border-radius: 0 3px 3px 0;
    margin-left: 220px;
    width: 40px;
    height: 30px;
  }
  .sidebar ul .search span .fas {
    color: rgb(39, 39, 39);
    font-size: 22px;
  }
  .main__body.active {
    width: 100%;
    left: 0;
  }
  .sidebar {
    height: 62px;
  }
  .sidebar.active {
    height: 100%;
  }
}
