/* Start Variables */
:root {
  --primary-color: #fbcc34;
  --black-color: #272727;
}
/* End Variables */

/* Start General Styles */
* {
  margin: 0;
  padding: 0;
  font-family: roboto, "sans-serif";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 14px 30px;
  width: 100%;

  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--primary {
  color: #fff;
  background-color: var(--primary-color);
  transition: background 0.2s ease-in-out;
}

.btn--primary:hover {
  background-color: var(--black-color);
}

.btn--black {
  color: #fff;
  background-color: var(--black-color);
  border: 2px solid transparent;
}

.btn--black:hover {
  color: var(--black-color);
  background-color: #fff;
  border: 2px solid var(--black-color);
}

.btn--outline {
  border: 2px solid #272727;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.btn--outline:hover {
  color: #fff;
  background-color: #272727;
}

/* End General Styles */

/* Start Header Section */
.header {
  position: relative;
  padding: 17px 0;
  background-color: #eee;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  border: 2px solid var(--black-color);
  padding: 5px 20px;
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
}

.header__navigation {
  position: absolute;
  right: 0;
  top: 65px;
  z-index: 100;

  width: 65%;
  height: calc(100vh - 65px);

  border-top: 1px solid rgba(102, 102, 102, 0.2);
  background-color: #eee;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
}

.nav__list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nav__item {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 5px;

  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav__item:hover {
  padding-left: 15px;
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--black-color);
  font-weight: 500;
}

.nav__link i {
  margin-right: 5px;
}

.nav__link span {
  text-transform: uppercase;
  font-size: 14px;
}

.overlay {
  position: absolute;
  top: 66px;
  z-index: 50;

  width: 100%;
  height: calc(100vh - 66px);

  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.overlay--active {
  visibility: visible;
  opacity: 1;
}

.active {
  transform: translateX(0);
}

.mobile__menu {
  font-size: 25px;
  cursor: pointer;
  border: 2px solid var(--black-color);
  padding: 2px;
}

.mobile__menu i {
  display: block;
  color: var(--black-color);
}

/* Start Media Queries */
@media screen and (min-width: 768px) {
  .header {
    padding: 23px 0;
  }

  .header__logo {
    margin-right: 40px;
  }

  .header__navigation {
    position: static;
    flex: 1;
    border-top: 0;

    width: auto;
    height: auto;
    background-color: transparent;
    transform: translateX(0);
  }

  .nav__list {
    flex-direction: row;
    padding: 0;
  }

  .nav__item {
    margin-bottom: 0;
    border-bottom: 0;
    padding: 3px 0;
  }

  .nav__item:hover {
    padding-left: 0;
  }

  .nav__item:first-of-type {
    margin-right: 20px;
  }

  .nav__item:first-of-type i {
    display: none;
  }

  .nav__item:nth-of-type(2) i {
    display: none;
  }

  .nav__item.user {
    margin-left: auto;
    margin-right: 20px;
  }

  .nav__link {
    position: relative;
  }

  .nav__link.plat::after {
    position: absolute;
    bottom: -5px;

    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--black-color);
    transition: width 0.4s ease-in-out;
  }

  .nav__link.plat:hover::after {
    width: 100%;
  }

  .mobile__menu {
    display: none;
  }

  .overlay {
    display: none;
  }
}
/* End Header Section */

/* Start Menu Hero */
.hero--section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 80px 0;

  background-image: url(../assets/images/lunch/lunch-header-bg.webp);
  background-size: cover;
  background-position: center 70%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.hero--section h1 {
  border: 3px solid #fff;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

@media screen and (min-width: 992px) {
  .hero--section {
    padding: 100px 0;
  }
}
/* End Menu Hero */

/* Start Menu Section */
.menu {
  padding: 50px 0 10px 0;
  background-color: #fafafa;
}

.menu__header {
  margin-bottom: 60px;
  text-align: center;
}

.header__title {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.7;
}

.header__span {
  position: relative;
  bottom: 3px;
  display: inline-block;
  width: 100px;
  height: 5px;
  background-color: #fbcc34;
}

.header__description {
  margin-top: 10px;
  color: #666;
  font-size: 15px;
  letter-spacing: 1px;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__list__item {
  margin: 0 5px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}

.menu__list__item::after {
  position: absolute;
  bottom: -2px;
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--black-color);
  transition: width 0.4s ease-in-out;
}

.menu__list__item:hover::after {
  width: 100%;
}

.menu__list__item--active {
  border-bottom: 2px solid var(--black-color);
  font-weight: 500;
}

.menu__item {
  display: none;
  margin-bottom: 50px;
}

.menu__item.jeudi {
  display: block;
}

.menu__plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.plat__item {
  border-radius: 5px;
  padding: 12px;
  max-width: 425px;
  border: 2px solid transparent;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.plat__item:hover {
  transform: scale(1.07);
  border: 2px solid var(--black-color);
}

.plat__image img {
  display: block;
  border: 2px solid #eee;
  width: 100%;
}

.plat__title {
  margin: 15px 0 5px 0;
  padding-left: 10px;
}

.plat__name {
  margin-bottom: 20px;
  padding-left: 10px;
  color: #666;
  font-size: 14px;
}
/* Start Media Queries */
@media screen and (min-width: 500px) {
  .menu__list__item {
    margin: 0 10px;
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .menu__plats {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .plat__item {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 992px) {
  .menu {
    padding: 70px 0 30px 0;
  }

  .menu__header {
    margin-bottom: 60px;
  }

  .menu__nav {
    margin-bottom: 50px;
  }

  .menu__item {
    margin-bottom: 60px;
  }

  .menu__heading {
    margin-bottom: 35px;
  }

  .menu__plats {
    gap: 20px;
  }

  .plat__item {
    width: calc(25% - 15px);
  }
}
/* End Menu Section */

/* Start Menu Details Section */
.menu--details {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 201;

  display: none;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu--details--show {
  display: flex;
}

.details__close {
  top: 15px;
  right: 40px;
  position: absolute;
  cursor: pointer;
}

.details__close i {
  font-size: 22px;
}

.details__close i:hover {
  color: var(--primary-color);
}

.menu--details__content {
  display: flex;
  flex-direction: column;
  width: 95%;
  color: #000;
  background-color: #fff;
}

.detail__image {
  background-image: url(../assets/images/menu/plats/plat2.webp);
  background-size: cover;
  display: none;
}

.detail__text {
  padding: 30px;
}

.detail__title {
  margin-bottom: 20px;
  color: var(--black-color);
  text-transform: uppercase;
  text-decoration: underline;
}

.detail__description {
  line-height: 1.6;
  color: #666;
}

.detail__list__title {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.detail__list {
  padding-left: 30px;
  margin-top: 20px;
  list-style-type: disc;
}

.detail__item {
  margin-bottom: 5px;
  font-size: 14px;
}

.detail__images {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.detail__images img {
  padding: 1px;
  border: 3px solid #eee;
  width: 23%;
}

/* Start Media Queries */

@media screen and (min-width: 600px) {
  .menu--details__content {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .menu--details__content {
    flex-direction: row;
    width: 70%;
  }
  .detail__image {
    display: block;
    width: 50%;
  }

  .detail__text {
    width: 50%;
  }
}
/* End Menu Details Section */

/* Start Footer Section */
.footer {
  padding: 25px 0;
  background-color: #eee;
}

.footer__copyright {
  color: gray;
  font-size: 15px;
  text-align: center;
}
/* End Footer Section */
