:root {
  --bgc: #e2e8f0;
  --border-red: red solid 2px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bgc);
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.list-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  gap: 1%;
}

.main__body.active .commades-feed:nth-last-of-type(2) {
  flex-basis: 60%;
}
.main__body.active .commades-feed:nth-last-of-type(1) {
  flex-basis: 40%;
}
.commades-feed {
  padding: 5px 7.5px;
}
.commades-feed:nth-last-of-type(2) {
  flex-basis: 65%;
}
.commades-feed:nth-last-of-type(1) {
  flex-basis: 35%;
}
.commandes {
  display: flex;
  flex-direction: column;
}
.commandes .plats-au:last-child {
  display: flex;
  justify-content: center;
  gap: 1%;
  margin: 5px;
}
.commandes .plats-au .plat-1 {
  padding: 2px;
}
.commandes .plats-au .plat-2 {
  padding: 2px;
}

.commandes .plats-hier:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 1%;
  margin: 5px;
}
.greeeen {
  background-color: rgba(154, 255, 136, 0.493);
  border-radius: 3px;
}
.commandes .plats-hier .plat-1 {
  padding: 2px;
}
.commandes .plats-hier .plat-2 {
  padding: 2px;
}

.rev-plat {
  background-color: #fbcc34;
  margin: 3px;
  width: 50px;
  padding: 4px 0px;
  border-radius: 2.5px;
  color: #fff;
}
.auter-review {
}
.reviewing {
  margin: 5px 20px;
}
.auter-back {
  display: flex;
  flex-direction: column;
}

.item-auter-2 {
  padding: 10px 30px;
}
.item-auter-2 .information {
  display: flex;
  gap: 2%;
}
.item-auter-2 .information div img {
  border-radius: 50%;
}
.essues {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5%;
}
.essues button {
  border-radius: 4px;
  border: none;
}
.essues button:first-child {
  background-color: #7a7a7a;
}
.essues button:nth-of-type(2) {
  background-color: #f07979;
}
.essues button:last-child {
  background-color: #a8fdc4;
}
.commantaire-auter {
  display: flex;
  justify-content: flex-end;
}
.commantaire-auter .autre {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  gap: 3%;
  margin-top: 15px;
  width: 90%;
}
.commantaire-auter .autre p {
  flex-basis: 80%;
}
.commantaire-auter .autre .are {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commantaire-auter .autre .are label {
  background-color: #fbcc34;
  color: #fff;
  border-radius: 3px;
  padding: 3px 6px;
}
.bgc-star {
  color: #fbcc34;
}
.bgc-non {
  color: #7a7a7a;
}

.ls-plat ul {
  margin-left: -25px;
  list-style-image: url(../assets/images/tick.svg);
}
.ls-plat ul li {
  font-size: 1.3rem;
}

.cokies-choix {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cokies-choix .pro-choix img {
  border-radius: 50%;
  margin-top: -10px;
}

.cokies-choix .pro-choix .img-3 {
  position: absolute;
  margin-left: -30px;
}
.cokies-choix .pro-choix .img-2 {
  position: absolute;
  margin-left: -50px;
}
.cokies-choix .pro-choix .img-1 {
  position: absolute;
  margin-left: -60px;
}

.quantite_commande h4 {
  background-color: #fbcc34;
  border-radius: 3.5px;
  color: #fff;
  padding: 3px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1060px) {
  .commades-feed:nth-last-of-type(2) {
    flex-basis: 70%;
  }
  .commades-feed:nth-last-of-type(1) {
    flex-basis: 30%;
  }
  .main__body.active .commades-feed:nth-last-of-type(1) {
    flex-basis: 40%;
  }
  .main__body.active .commades-feed:nth-last-of-type(2) {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .main__body.active .commades-feed:nth-last-of-type(1) {
    flex-basis: 30%;
  }
  .main__body.active .commades-feed:nth-last-of-type(2) {
    flex-basis: 70%;
  }
  .main__body.active .commades-feed .plats-au {
    flex-direction: column;
  }
  .main__body.active .commades-feed .plats-hier {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main__body.active .list-row {
    flex-direction: column;
  }
  .main__body.active .commades-feed .plats-au {
    flex-direction: row;
  }
  .main__body.active .commades-feed .plats-hier {
    flex-direction: row;
  }
}
@media screen and (max-width: 792px) {
  .main__body .list-row {
    flex-direction: column;
  }
  .main__body .commades-feed .plats-au {
    flex-direction: row;
  }
  .main__body .commades-feed .plats-hier {
    flex-direction: row;
  }
}
@media screen and (max-width: 660px) {
  .commantaire-auter {
    width: 100%;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 655px) {
  .commantaire-auter .autre {
    flex-direction: column;
    width: 100%;
  }
  .commantaire-auter .autre .are{
    justify-content: center;
    flex-direction: row-reverse;
    gap: 2%;
  }
}
@media screen and (max-width: 592px) {
  .main__body .list-row .plats-au,
  .main__body .list-row .plats-hier {
    flex-direction: column;
  }
}
