@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background-image: url(../assets/images/lunch/lunch-header-bg.jpg);
}
.container__star {
  position: relative;
  width: 100%;
  background: #082032;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container__star .post {
  display: none;
}
.container__star .text {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
}
.container__star .edit {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container__star .edit:hover {
  text-decoration: underline;
}
.container__star .star-widget input {
  display: none;
}
.container__star .star-widget label {
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
.container__star input:not(:checked) ~ label:hover,
.container__star input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}
.container__star input:checked ~ label {
  color: #fd4;
}
.container__star input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
.container__star #rate-1:checked ~ form .div:before {
  content: "Je déteste juste ça ";
}
.container__star #rate-2:checked ~ form .div:before {
  content: "je n'aime pas ça ";
}
.container__star #rate-3:checked ~ form .div:before {
  content: "C'est génial";
}
.container__star #rate-4:checked ~ form .div:before {
  content: "je l'aime juste ";
}
.container__star #rate-5:checked ~ form .div:before {
  content: "J'adore ";
}
.container__star form {
  display: none;
}
.container__star input:checked ~ form {
  display: block;
}
.container__star form .div {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
.container__star form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.container__star form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.container__star .textarea textarea:focus {
  border-color: #444;
}
.container__star form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
.container__star form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container__star form .btn button:hover {
  background: #1b1b1b;
}
