<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant YouCode</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link
      href="/css/fontawesome-free-5.15.4-web/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="head__er">
      <nav class="sidebar">
        <ul>
          <li>
            <a href="#">
              <span class="logo"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="93"
                  height="47"
                  viewBox="0 0 93 47"
                >
                  <text
                    id="Logo"
                    transform="translate(0 30)"
                    fill="#fff"
                    font-size="35"
                    font-family="MaturaMTScriptCapitals, Matura MT Script Capitals"
                  >
                    <tspan x="0" y="0">Logo</tspan>
                  </text>
                </svg>
              </span>
              <h3>YouCode Restaurant</h3>
            </a>
          </li>
          <li class="search">
            <input type="search" placeholder="Chercher" />
            <span><i class="fas fa-search"></i></span>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-cookie"></i></span>
              <span>Plat du jour</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-poll-h"></i></span>
              <span>Menu du semaine</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-poll-h"></i></span>
              <span>Commandes</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <i class="fas fa-calendar-week"></i>
              </span>
              <span>Calendrier</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <i class="fas fa-cog"></i>
              </span>
              <span>Parrametre</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <i class="fas fa-user-circle"></i>
              </span>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Se deconnecté</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="nav__bar">
        <div class="nav__bar_item toogle" onclick="menu__toogle();">
            <span><i class="fas fa-bars"></span></i>
            <span><i class="fas fa-times"></i></span>
        </div>
        <div class="nav__bar_item">
            <div class="search">
                <input type="search" placeholder="Chercher" />
                <div><i class="fas fa-search"></i></div>
            </div>
            <div class="plus__down">
                <span><i class="fas fa-plus"></i><i class="fas fa-caret-down"></i></span>
                <ul>
                    <li><a href="#"></a>Option 1</li>
                    <li><a href="#"></a>Option 2</li>
                    <li><a href="#"></a>Option 3</li>
                    <li><a href="#"></a>Option 4</li>
                </ul>
            </div>
            <div class="profile_admin">
                <img src="../assets/images/profile.jpeg" alt="profile" />
                <span>Admin</span>
            </div>
        </div>
      </nav>
    </header>
    <!-- main component -->
    <main class="main__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, molestias repellat? Quis impedit amet iusto cum dolor ratione distinctio, modi sint, est consequatur accusamus? Sed ad est vel veniam maiores, at earum odio eius mollitia dolorem molestias ex commodi excepturi libero alias placeat ducimus necessitatibus, et maxime autem. Tempore, voluptatem!
        Adipisci incidunt excepturi accusantium non quis explicabo modi cupiditate aliquid alias commodi, fugit nisi reprehenderit similique corrupti, facilis vel veniam provident, deserunt tenetur. Et ducimus perferendis blanditiis, reiciendis harum temporibus reprehenderit vero, adipisci, praesentium veritatis iure aperiam beatae! Ratione perferendis, odit laudantium quam maxime placeat vero officiis qui culpa quaerat?
        Veritatis eaque voluptatum dolor, consequuntur provident fuga libero adipisci repellendus vero, porro nesciunt quod. Velit voluptas dolor maiores. Nisi, sunt facilis. Minima quam velit veniam! Est eius expedita reprehenderit fugiat labore distinctio in quasi nam. A praesentium amet illo omnis nam, temporibus necessitatibus quidem mollitia aperiam, quisquam hic reprehenderit? Cupiditate?
        Maiores doloribus, rem saepe numquam quaerat et eveniet eum eaque consectetur molestias facilis perferendis ratione omnis molestiae iure consequuntur qui esse fuga cupiditate incidunt totam vero? Nam laudantium in doloribus aliquid, nemo nobis unde iure nulla pariatur esse ipsa adipisci placeat aperiam consequuntur aut voluptatum. Magnam quod necessitatibus eveniet facere.
        Voluptas tenetur assumenda repudiandae nulla illo alias molestiae ea deleniti fugit natus sapiente sed porro corporis quis et eveniet quo ex illum, eum adipisci consequuntur facere. Facere iure non harum quas corrupti tempore corporis, voluptatum eaque tempora expedita ducimus repellendus rem, voluptatibus vero aliquid consectetur! Repellat fuga dicta consequuntur laudantium!
    </main>
    <!-- main component -->
    <footer></footer>

    <script>
      function menu__toogle(){
        let toogle = document.querySelector('.toogle');
        toogle.classList.toggle('active');
        let sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('active');
        let nav__bar = document.querySelector('.nav__bar');
        nav__bar.classList.toggle('active');
        let main__body = document.querySelector('.main__body');
        main__body.classList.toggle('active');
      }
    </script>
  </body>
</html>
