<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant YouCode</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/table_user.css" />
  
  </head>
  <body>
     
          <img src="../assets/images/head.jpg" alt="head" class="head_img">
       <!-- <div class="titre">
              <h1>Les utilisateurs </h1>
          </div>  -->  
          <div class="form_table">
            <div class="bar_rachercher">
                <h1>Utilisateurs</h1>
                <div class="search_box">
                     <input type="text" name="rechercher" placeholder="rechercher" class="search_text" >
                <a href="#" class="search_btn"> <i class="fa fa-search fa-2x"></i></a>
               
                </div>
                <a href="add_user.html" > <button class="ajouter">Ajouter</button></a> 
                
            </div>
              
                  <table>
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Nom d'utilisateur</th>
                              <th>Email</th>
                              <th>Role</th>
                              <th>Status</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>Meryeme</td>
                              <td>mm@gmail.com</td>
                              <td>staff</td>
                              <td>active</td>
                              <td> ssss</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>saida</td>
                            <td>mm@gmail.com</td>
                            <td>staff</td>
                            <td>active</td>
                            <td> ssss</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>oumaima</td>
                            <td>mm@gmail.com</td>
                            <td>staff</td>
                            <td>active</td>
                            <td> ssss</td>
                        </tr>
                        <td>4</td>
                        <td>Donia</td>
                        <td>mm@gmail.com</td>
                        <td>staff</td>
                        <td>active</td>
                        <td> ssss</td>
                    </tr>
                      </tbody>
                  </table>
               
          </div>
        
       
   
    
  
  </body>
</html>
