<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
  .container.active{display: none;}
  </style>
  <body>
    <!-- mon profil deconnexion -->
    <div class="container times_click ">
      <div class="cart alert alert-success">
        <strong class="row">
          <span class="col-md-11">Success!</span>
          <h5
            class="col-md-1"
            onclick="times_click()"
            style="display: flex; justify-content: end;cursor: pointer;"
          >
            X
          </h5>
        </strong>
      </div>
    </div>
    <script>
      function times_click(){
        let times_click = document.querySelector(".times_click");
        times_click.classList.toggle("active");
      }
    </script>
  </body>
</html>
