<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/changepassword.css">
    <title>Changement de mot de passe</title>
</head>
<body>
    <header>
        <h1 class="Logo"><strong class="diffrent_color">You</strong>Restaurant</h1>
        <img src="/assets/images/Logo.png" alt="logo">
    </header>
    <form>
        <div class="first_password">
            <label for="password"><strong class="new_password">Nouveau mot de passe</strong></label>
            <input type="password" name="password" minlength="8" maxlength="20">
        </div>
        <div class="second_password">
            <label for="repeat_password"><strong class="new_password">Repetez le mot de passe</strong></label>
            <input type="password" name="repeat_password" minlength="8" maxlength="20">
            <input type="submit" value="Enregistrer" class="submit">
        </div>
        
    </form>
</body>
</html>