<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/changepassword.css">
    <title>Changement de mot de passe</title>
</head>
<body>
    <main>
     <div class="background">
        <div class="youcode">
            <h1><strong class="yellow_part">You</strong>Restaurant</h1>
        </div> 
    </div>
    <form>
        <div class="header">
            <h2 class="Logo">Nouveau mot de Passe</h2>
        </div>
        <div class="password_of_user">
            <label for="password" class="repeat_password">Nouveau mot de passe</label>
            <input type="password" name="password" minlength="8" maxlength="20" class="box" placeholder="Mot de passe">
        </div>
        <div class="password">
            <label for="repeat_password" class="repeat_password">Repetez le mot de passe</label>
            <input type="password" name="repeat_password" minlength="8" maxlength="20" class="box" placeholder="Repetez le mot de passe">
            <a href="admin.html" class="submit">Enregistrer</a>
        </div>
        
    </form>
    </main>
</body>
</html>