<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/CRUDmenu.css">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

  <div class="image">
    <img src="../assets/images/pexels-chan-walrus-1059905.jpg" alt="Entrée">
  </div>
  <h1>Entrée</h1>

  <div class="container">
    <div class="child1">

      <div class="categories">

        <img class="icon_cat"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAZ1JREFUWEftl+ExBEEQhb/LQAhEQAaIABEgAyJABGSADIgAGZwICEEI6l3NqK4xczOzs8Ne1fa/u+qeffv69fTbBROLxcTwMAPKdSTF0DGwmysGPoFn4MvkttRGW3YG3BeA8SknwJP70VK7OiLG0DVwVQHoBlCNoqW2CNAb8BoBdwDsu/9TgGpriwDZh1lclokUoNraGZBnOMXuzNAoDGnCUlOmSVOkRF1bW9Sykuuo+z3Uctu21CYZ2gLUjr0CerTLHkxeS20SUAGOfikb44eaLIThbxs4AtRKWRRZFbU5GTGGmoXpANwCOisMae4y8FA/OWPbDx0sNl4yQ7EEDmOgcoCGWAiZNbXJhz8jlMFjjMEcoFoLIc18GDDnwbUQymEn1NTYgC4AaUchAYuVMNQu79elpTubMDagtdbCPfhP7YdlSMtVwv1XhrpraIiFCKdMmtF/0pPdj4OmrGRphZOoe0gvsu5D890tcPuBuXpWz5ta03MaeSMxI639ApMC1GwhDAhpSq3yu0ytq95lJW3qlrMx9qMbA7mDJ8fQNyaIqSUWlrCiAAAAAElFTkSuQmCC" />

        <input type="text" value="Catégories">

      </div>
      <div class="said">
        <div class="search">
          <input type="search" placeholder="Chercher" />
          <button><i class="fas fa-search"></i></button>

        </div>
        <div class="plus">
          <button class="btn_plus"><i class="fas fa-plus"></i> </button>
        </div>
      </div>
    </div>

    <div class="child2">
      <table class="table_content">
        <tr>
          <th>Id</th>
          <th>Titre</th>
          <th>Ingrédients</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Entrée 1</td>
          <td>Entrée 1</td>
          <td>
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Entrée 2</td>
          <td>Entrée 2</td>
          <td>
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </td>
        </tr>

        <tr>
          <td>3</td>
          <td>Entrée 3</td>
          <td>Entrée 3</td>
          <td>
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </td>
        </tr>

        <tr>
          <td>4</td>
          <td>Entrée 4</td>
          <td>Entrée 4</td>
          <td>
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </td>
        </tr>
      </table>
    </div>
    <div class="child3">
      <button class="lr">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="child_page un">1</div>
      <div class="child_page">2</div>
      <div class="child_page">3</div>
      <div class="child_page">...</div>
      <button class="lr">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>



  </div>

</body>

</html>