<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/forgetpassword.css">
    <title>Reset Password</title>
</head>
<body>
    <header>
        <h1 class="Logo"><strong class="diffrent_color">You</strong>Restaurant</h1>
    </header>
    <form>
        <div>
            <p>Mot de Passe Oublier?</p>
        </div>
        <div class="resset">
            <h3>Veuillez saisir votre email</h3>
            <label for="email"></label>
            <input type="text" name="email" value="Votre email">
            <button class="resset_button">Resset</button>
        </div>
    </form>
</body>
</html>