<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../css/forgetpassword.css">
            <title>Réinitialisation de mot de passe</title>
        </head>
        <body>
            <form>
                <h2 class="Logo">Réinitialisation du mot de passe</h2>
                <div class="resset">
                    <p>Pour recevoir un email de réinitialisation de votre mot de passe,<br> veuillez saisir votre adresse email associée à votre compte.
                    <br>Vous venez de vous rappeler de vos identifiants ?
                    <a href="index.html">identifier vous</a> 
                    </p>
                    <input type="text" name="email" placeholder="Votre email" class="inputs" id="mail">
                    <a href="ressetpassword.html" class="inputs" id="resset_button">Envoyer</a>
                </div>
            </form>
            <div class="background">
                <div class="youcode">
                    <h1><strong class="yellow_part">You</strong>Restaurant</h1>
                </div>
            </div>
        </body>
    </html>