<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de jour</title>
    <link rel="stylesheet" href="/css/menu_jour.css">
</head>
<body>
    <nav class="user_nav">
        <h3 class="logo">
            <a href="">YouCode</a>
        </h3>
        <div class="choices_container">
            <ul class="choices">
                <li class="list">PLAT DU JOUR</li>
                <li class="list">MENU DE SEMAINE</li>
                <li class="list">MOHAMMED</li>
                <li class="list">NOTIFS</li>
            </ul>
        </div>
    </nav>
    <section class="middle_background">
        <div class="menu_logo">
            <h3>MENU DE JOUR</h3>
        </div>
    </section>
    <main class="menu_of_day">
        <section class="presentation">
            <h1>Veuillez choisir votre plat</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Quis explicabo recusandae dolorem lemnae</p>
        </section>
        <section class="lunch">
            <article class="first_lunch">
                <div class="chicken_dish">
                    <img src="/assets/images/lunch/plat1.webp" alt="plat1" class="plat">
                    <ul class="menu_of_lunch">
                        <li>Salade nicoise</li>
                        <li>Poulet avec légumes</li>
                        <li>Jus d'orange</li>
                    </ul>
                </div>
                <div class="show_more">
                    <h3>
                        <a href="">AFFICHER PLUS</a>
                    </h3>
                </div>
            </article>
            <article class="second_lunch">
                <div class="fish_dish">
                    <img src="/assets/images/lunch/plat2.webp" alt="plat2" class="plat">
                    <ul class="menu_of_lunch">
                        <li>Salade césar</li>
                        <li>Poisson avec pattes</li>
                        <li>flan caramel</li>
                    </ul>
                </div>
                <div class="show_more">
                    <h3>
                        <a href="">AFFICHER PLUS</a>
                    </h3>
                </div>
            </article>
            <div class="chef_picture">
                <img src="/assets/images/lunch/chef3.webp" alt="Chef">
            </div>
        </section>
    </main>
    <footer class="copyright">
        <p>Copyright 2022 all right reserved.</p>
    </footer>
    
</body>
</html>