body{
    font-family: 'roboto', sans-serif;
    background-color: whitesmoke;
    color: black;
    
}
*{

    margin-left: 10px;
    margin-right: 10px;
}
.notification{
    display: flex;
    justify-content: center;
    align-items:flex-start ;
}
.form{
    margin-top: 40px;
    margin-left: 10px;
}
.Resset{
    text-decoration: underline;
}
.background{
    display: none;
}
.message{
    margin-top: 60px;
}
@media screen and (min-width: 700px) {
    *{
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media screen and (min-width: 1000px){
    *{
        margin: 0px;
    }
    .notification{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 120px;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-right: 30px ;
        margin-top: 150px;
       
    }
    .background{
        margin-left: 0px;
        padding-top: 0px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(/assets/images/project.jpg);
        width: 60%;
        height: 578px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .youcode{
        border: 2px solid white;
        height: auto;
        display: flex;
        color: white;
        font-weight: bolder;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .yellow_part{
        color: rgb(235, 248, 46);
    }
    
}