<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ressetpassword.css">
    <title>Reset Password</title>
</head>
<body>
    <section>
        <div class="background">
            <div class="youcode">
                <h1><strong class="yellow_part">You</strong>Restaurant</h1>
            </div>
        </div>
        <div class="form">
            <h2>Réinitialisation du mot de passe</h2>
            <p>Un email vient de vous être envoyé afin de réinitialiser votre mot de passe
                <br>
                Vous pouvez maintenant fermer cet onglet.</p>
        </div>
    </section>
</body>
</html>